* {
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
}

header {
    text-align: center;
    padding-bottom: 20px;
}

h1 {
    font-size: 40pt;
    margin-bottom: 20px;
}

h2 {
    font-size: large;
    font-weight: normal;
}

footer {
    padding-top: 10em;
    background-color: white;
    text-align: center;
    font-size: x-small;
    font-weight: normal;
}
